# Using Decision Trees

In [1]:
%matplotlib inline
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import patches as mpatches
import numpy as np
import scipy as sp

In [2]:
#data = sp.genfromtxt("skin_color_binary.dat", delimiter = "\t")
data = np.genfromtxt(r'C:\Users\lifeu\Desktop\SKIN_PROJECT\Skin_NonSkin.txt', dtype=np.int32)
sp.random.shuffle(data)
data = np.array(data)
df = pd.DataFrame(data,index=data[:,0])
#sp.random.shuffle(df)
print("Last 10 rows of Data: \n" + str(data[-10:]))
print(data.shape)
df

Last 10 rows of Data:
[[157 161 125   2]
 [145 144  88   2]
 [ 24  85  65   2]
 [116 119 174   1]
 [ 56 111 168   1]
 [ 64  65  21   2]
 [179 176 132   2]
 [180 181 139   2]
 [110 141 216   1]
 [141 140  82   2]]
(245057, 4)

       0    1    2  3
122  122  160   31  2
0      0  179    2  2
142  142  180  252  1
245  245  233  229  2
136  136  139   90  2
0      0    0  255  2
122  122  120  102  2
13    13   18    3  2
134  134  137   92  2
95    95   95   41  2
20    20   17    3  2
32    32   30    0  2
128  128  132   91  2
194  194  192  157  2
170  170  171  127  2
164  164  163  113  2
144  144  147  101  2
53    53   54   20  2
112  112  118  171  1
208  208  219  255  1
145  145  143   89  2
20    20   20    4  2
145  145  186  248  1
4      4    0   72  2
141  141  174  224  1
54    54   58   23  2
42    42    0   17  2
163  163  197  255  1
180  180  180  134  2
167  167  176  126  2
..   ...  ...  ... ..
181  181  178  134  2
161  161  170  120  2
83    83   39   16  2
252  252  254  254  2
225  225  220  221  2
144  144  181  225  1
4      4    0    0  2
112  112  113   63  2
24    24   21   16  2
140  140  136  101  2
182  182  180  140  2
60    60  125  186  1
4      4    2    1  2
53    53  101  149  1
56    56   61   22  2
182  182  179  124  2
53    53  114  180  1
130  130  139   89  2
181  181  179  131  2
12    12   12    0  2
157  157  161  125  2
145  145  144   88  2
24    24   85   65  2
116  116  119  174  1
56    56  111  168  1
64    64   65   21  2
179  179  176  132  2
180  180  181  139  2
110  110  141  216  1
141  141  140   82  2

[245057 rows x 4 columns]

# --------Visualize-----------

# Displaying the first 5 columns

In [3]:
df.head(20)

       0    1    2  3
122  122  160   31  2
0      0  179    2  2
142  142  180  252  1
245  245  233  229  2
136  136  139   90  2
0      0    0  255  2
122  122  120  102  2
13    13   18    3  2
134  134  137   92  2
95    95   95   41  2
20    20   17    3  2
32    32   30    0  2
128  128  132   91  2
194  194  192  157  2
170  170  171  127  2
164  164  163  113  2
144  144  147  101  2
53    53   54   20  2
112  112  118  171  1
208  208  219  255  1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 245057 entries, 122 to 141
Data columns (total 4 columns):
0    245057 non-null int32
1    245057 non-null int32
2    245057 non-null int32
3    245057 non-null int32
dtypes: int32(4)
memory usage: 5.6 MB

# Displaying the basic statistical details such as mean,std,min,max etc.

In [5]:
df.describe()

                   0              1              2              3
count  245057.000000  245057.000000  245057.000000  245057.000000
mean      125.065446     132.507327     123.177151       1.792461
std        62.255653      59.941197      72.562165       0.405546
min         0.000000       0.000000       0.000000       1.000000
25%        68.000000      87.000000      70.000000       2.000000
50%       139.000000     153.000000     128.000000       2.000000
75%       176.000000     177.000000     164.000000       2.000000
max       255.000000     255.000000     255.000000       2.000000

# 245057 rows and 4 columns i.e. pixel values B,G,R and class label

In [6]:
df.shape

(245057, 4)

In [8]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing

# DECISION TREES

In [14]:
from sklearn.tree import DecisionTreeClassifier
decisiontree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
decisiontree

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
decisiontree.fit(tr_X,tr_Y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [16]:
predTree = decisiontree.predict(te_X)

In [17]:
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(te_Y, predTree))

DecisionTrees's Accuracy:  0.973496286623684